.card-wrapper {  
    width: 100%;
    height: 600px;
    overflow: hidden; 
  }
  .card-wrapper img {
    transition: 0.5s;
  }
  
  .card-wrapper img:hover {
    transform: scale(1.1);
  }
  .card-wrapper .black-box{
    background-color: black;
    padding: 0 10px;
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 20px;
  }
  