@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-color: rgb(16, 16, 16);
  --gray-color:#a9a9a9;
}

body {
  font-family: "Proxima Nova", sans-serif;
}
.top-bar{
  background-color: #ededed;
  padding: 5px 0px;
}
.top-bar ul li a{
  font-size: 14px;
  line-height: 21px;
  color: var(--black-color);
}
.divider{
  width: 1px;
  height: 14px;
  background-color: var(--gray-color);
  margin: 0 12px;
}
header{
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #ffff;

}
header .side-bar-menu{
  top: 34px;
}
header .top-header{
  border-bottom: 1px solid #EFEFEF;
  padding: 20px 0px;
}
header .site-logo img{ 
  height: 46px;
}
header .sign-btn {
  font-size: 16px;
  color: var(--black-color);
}
header .sign-btn:hover{
  color: #505050;
}
header .side-bar-menu ul li a{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black-color);
  border-bottom: 5px solid transparent;
  padding:0px 0px 10px;
  display: inline-block;
  margin: 0px 0px 15px;
}
header .side-bar-menu ul li a:hover{
  border-color: #565656;
}
.search-input{
  position: absolute;
  left: -235px;
}
.search-input input{
  padding: 10px 44px 10px 16px;
  transition: .35s;
  border: 1px solid #949494;
}
.search-input input:focus-visible{
  outline: unset;
  background-color: #EDEDED;
}
header .bottom-header{
  padding: 15px 0px;
}
header .bottom-header ul{
  gap: 50px;
}
header .bottom-header ul li a{
  font-size: 16px;
  line-height: 24px;
  color: rgb(101, 101, 101);
  padding: 0 0 15px 0;
  border-bottom: 5px solid transparent;
}
header .bottom-header ul li a:hover{
  color: #656565;
  border-color: #565656;
}
span.swiper-pagination-bullet {
  width: 36px;
  height: 4px;
  background-color: #ebebeb;
  transition: background-color .2slinear;
  border-radius: 0;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: auto;
  width: auto;
  left: 30px;
  bottom: 20px;
  transform: none;
  opacity: 1;
}
/* .swiper-slide img{
  height: 600px;
  object-fit: cover;
} */
.swiper-button-next {
  color: white !important;
}
.swiper-button-prev {
  color: white !important;
}
.swiper-slide .car-details{
  bottom: 70px;
  left: 45px;
}
.swiper-slide .car-year{
font-size: 32px;
line-height: 38px;
color: rgba(255, 255, 255, 0.7);
}
.swiper-slide .car-name{
  font-size: 56px;
  line-height: 67px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.swiper-slide .car-model{
  font-size: 16px;
  line-height: 19px;
  color:rgba(255, 255, 255, 0.8);
}
.swiper-slide .bid-now-btn{
  position: absolute;
  right: 45px;
  bottom: 80px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  color: #505050;
  padding: 15px;
}
.swiper-slide .bid-now-btn:hover{
  background-color: #6e6e6e !important;
    border-color: #6e6e6e;
    color: #fff;
}
.swiper.swiper-initialized.swiper-horizontal {
  margin-top: 1px;
}